body
{
	margin:0px;
	height: 100%;
	/*! padding: 10px; */
	/*! padding-bottom: 30px; */ /* 30px -> footer height */
}


.header
{
  display:block;
  /*! position: relative !important; */
  /*! float: left; */
}

.footer
{

	height: 30px;
	background-color: #616161;
	/*! position: absolute; */
	/*! bottom: 0px; */
	width: 100%;
	z-index: auto;
}

.content /* wrapper */
{
	
	background-color: yellow;
	/*! position: relative; */
	/*! height: 100px; */
	display: block;
	box-sizing: border-box;
	/*! overflow: auto; */
	/*! min-height: 100%; */
	/*! position: relative; */
	/*! height: auto !important; */
	/*! height: 100%; */
	/*! margin: 0 auto -66px; */ /* -30px -> footer height */
	/*! padding: 0 0 30px; */ /* 30px -> footer height */
	height: calc(100% - 66px);
}



.font1
{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.loginBox
{
	position:absolute;
	top:50%;
	left:50%;
	
	width:300px;
	height:150px;
	border:1px solid black;
	margin-left: -190px;
	margin-top: -150px;
	padding: 40px;
}

.loginBoxRow
{
	width:300px;
	/*! height: 50px; */
	margin-top: 5px;
	margin-bottom: 5px;
}

.loginBoxLeft
{
	float:left;
	margin-top:3px;
	margin-left:3px;
	margin-right:3px;
	
	display:table-row;
	width:70px;

}

.loginBoxRight
{
	margin-top:3px;
	margin-left:3px;
	margin-right:3px;	
	
}


.headerInline
{
	width: 100%;
	/*! float: left; */
	background-color:
	gray;
	height: 35px;
	position: relative !important;
	box-sizing: border-box;
	display: table;
}

.linkBar
{
	display: table-cell;
	vertical-align: middle;
}

.userBar
{
	text-align:right;
	width:300px;
	display: table-cell;
	vertical-align: middle;
	padding-right: 10px;
}



.cityFrame
{
		background-color: yellow;
	/*! position: relative; */
	/*! height: 100px; */
	display: block;
	box-sizing: border-box;
	/*! overflow: auto; */
	/*! min-height: 100%; */
	/*! position: relative; */
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px; /* -30px -> footer height */
	/*! padding: 0 0 30px; */ /* 30px -> footer height */
	
	display:flex;
	flex-wrap:wrap;
		justify-content: flex-start;
}

.city
{
	text-align:left;
	min-width:130px;
	height:30px;
	display:table;
	/*padding-top:2px;
	padding-bottom:2px;*/
	padding-left:18px;
	padding-right:18px;
}

.cityNum
{
  display:table-cell;
	width:15px;
	padding-right:15px;
	/*padding:2px 5px 2px 2px;*/
}

.cityName
{
	font-size:10pt;
  display:table-cell;
	/*padding:2px 5px 2px 2px;*/
}


