/*input[type=text]
{
  //width: 100%;
  width: 250px;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=password]
{
  //width: 100%;
  width: 250px;
  padding:6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}
body
{
  margin:0px;
  height: 100%;
  //! padding: 10px;
  //! padding-bottom: 30px;  // 30px -> footer height 
}*/

a
{
    color: white;
    text-decoration: none;
}

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}





.header
{
  display:block;
  /*! position: relative !important; */
  /*! float: left; */
}

.footer
{

  height: 48px;
  /*! position: absolute; */
  /*! bottom: 0px; */
  width: 100%;
  /*min-width:586px;*/
  z-index: auto;
  display:table;
}

.content /* wrapper */
{
  /*background-color: yellow;*/
  color:white;
  display: block;
  box-sizing: border-box;
  min-height: calc(100% - 95px);
  /*min-width: 586px;*/
  padding-bottom:10px;
}


.bg-dark
{
  background-color:gray;
}

.font1
{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.color1
{
  color:green;
}

.color2
{
  color:red;
}

.loginBox
{
    border:1px solid black;
    width:500px;
    height:300px;
    position: absolute;
    top:50%;
    margin-top:-150px;
    left:50%;
    margin-left:-250px;
}

.loginDiv
{
    position: relative;
    top:50%;
    height:100%;
    width:100%;
    margin-top:-60px;
}
.loginBoxRow
{
  display: table-row;
}

.loginBoxLeft
{
  text-align:left;
  padding-right:5px;
  display: table-cell;
}

.loginBoxRight
{

  display: table-cell;
}


.headerInline
{
  min-height: 47px;
  width: 100%;
  /*! float: left; */
  position: relative !important;
  box-sizing: border-box;
  display: table;
}

.linkBar1
{
  display: table-cell;
  vertical-align: middle;
  width:90px;
  padding-right:8px;
}

.linkBar2
{
    display: table-cell;
    vertical-align: middle;
    min-width:170px;
}


.linkBar2 a
{
        /* display: block; */ /*block olur ise aldığı divi kaplar*/
        padding: 13px 13px;
        font: 15px tahoma, arial; /*menü elemanlarının yazı boyutları yazı tipi için */
        color: rgb(255, 255, 255); /*menü elemanlarının renkleri için */
        text-decoration: none; /*link verildikten sonra altlarında çıkan çizgileri yok etmek için */
}
.linkBar2 a:hover
{
        background: rgba(194, 196, 202, 0.5); /*menü elemanı üzerine gelindiğinde renk alması için*/
    transition-duration: 0.5s; /*menü elemanı üzerine gelindiğinde efektli renk alması için*/
    -webkit-transition-duration: 0.5s; /*tarayıcılara uyması için */
    -moz-transition-duration: 0.5s; /*tarayıcılara uyması için */
    -ms-transition-duration: 0.5s; /*tarayıcılara uyması için */
    -o-transition-duration: 0.5s; /*tarayıcılara uyması için */
    border-radius: 15px;
}

.userBar
{
  text-align:right;
  /*min-width: 300px;*/
  /*width: 300px;*/
  display: table-cell;
  vertical-align: middle;
}



.cityFrame
{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}

.city
{
  min-width:130px;
  height:30px;
  display:table;
  /*padding-top:2px;
  padding-bottom:2px;*/
  padding-left:18px;
  padding-right:18px;
  border: 1px solid rgba(255, 255, 255, 0.205);
  text-align: center;
  padding: 15px;
  margin: 1px;
  background-color: rgba(163, 69, 124, 0.452);
}

.cityNum
{
  display:table-cell;
  width:15px;
  max-width:15px;
  min-width:15px;
  padding-right:15px;
  /*padding:2px 5px 2px 2px;*/
}

.cityName
{
  font-size:10pt;
  display:table-cell;
  /*padding:2px 5px 2px 2px;*/
}

.profileColor
{
    background-color: rgb(243, 208, 67);
    /* color: white; */
     padding: 13px;
}

.uprofile
{
  border: none;
  display: inline-block; /*drop button hizası dışarıda kalması için*/
  }

.up
{
  position: relative;
  display: inline-block;
}

.dba
{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: #2d2d2d;
    color: white;
}

.uprofile-content
{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.uprofile-content a
{
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  text-align:center;
}

.uprofile-content a:hover {background-color: #ddd;}

.up:hover .uprofile-content {display: block;}

.up:hover .uprofile {}


.ou-profile
{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* kartların farklı boyutlarda olabilmesi için.*/
}

.profile
{
  width: 49%;
  position:relative;
  background-color:green;
  padding: 10 15px;
  margin: 10px 3px 10px 5px;
  flex: 1 auto;
}

.rsv
{
  width: 49%;
  position:relative;
  background-color:blueviolet;
  padding: 10 15px;
  margin: 10px 5px 10px 3px;
  flex: 1 auto;
}


/*şuanda kullanılmıyor*/
.bl
{
  padding:4px 12px;
  text-align:left;
  background-color:gray;
}



.app-logo
{
    display: table-cell;
    float: right;
    padding: 6px 6px 0px 0px;
}

.logo-size1
{
    width: 110px;
    height: 40px;
}

.b-type-link
{
  width: 35%;
  padding: 10px;
  background-color: rgb(243, 208, 67);
  border:none;
  border-radius: 10px;

  display:table-cell;
  color:white;
  margin-left:15px;
  text-align:center;
}

.submit-button
{
  width:40%;
  padding: 10px;
  background-color: rgb(243, 208, 67);
  border:none;
  border-radius: 10px;

  display:table-cell;
  color:white;
  margin-right:15px;
  font-size:16px;

}

.button-row
{
  display:flex;
  justify-content: center;
  width:100%;
  padding: 0px 0px 16px 0px;
}








.switch
{
  position: relative;
  display: inline-block;
  width: 51px;
  height: 25px;
}

.switch input
{
  opacity: 0;
  width: 0;
  /* height: 0; */
}

.slider
{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  max-width: 51px;
  max-height: 25px;
  margin: auto;
/* display: block;*/
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 17px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



.alt
{
  display: flex;
  justify-content: space-evenly;
  /* display: block; */
  margin-top: 40px;
}

.ust
{
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  width: 100%;
  height: 200px;
}

.isim1
{
  text-align: center;
}

.reservationSec
{
  padding: 4px 0px 0px 8px;
  word-wrap: break-word;
  overflow: scroll;
  height: calc(100% - 46px);
  overflow-x: hidden;
  overflow-y: auto;
  /*overflow-y: visible;*/
}

/* Hide scrollbar for Chrome, Safari and Opera */
.reservationSec::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.reservationSec
{
    -ms-overflow-style: none;
}

.plateSec
{
  padding: 4px 0px 0px 8px;
  height: 80px;
  word-wrap: break-word;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.plateSec::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.plateSec
{
    -ms-overflow-style: none;
}

.detailsSec
{
  padding: 4px 0px 0px 8px;
  height: 135px;
  word-wrap: break-word;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.detailsSec::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.detailsSec
{
    -ms-overflow-style: none;
}

.contact
{
  display:flex;
  justify-content: center;
}

.newCar1
{

}

.lText1
{
  margin-top:5px;
}

.rIcon
{
  margin-left: 15px;
}

.citiesTop
{
  padding: 15px 0px 15px 0px;
  font-size: 20px;
}

.alert
{
  display: block;
  padding: 10px 0px 10px 10px;
  border-radius: 5px;

  position:absolute;
  top:0px;
  width:calc(100% - 12px);
  z-index:999;
}

.success
{
  background-color: #a9ffc0;
  border: 1px solid #6fff96;
}
.danger
{
  background-color: #ff6464;
  border: 1px solid #ff2f2f;
}
.info
{
  background-color: #bee7ff;
  border: 1px solid #7bceff;
}
.warning
{
  background-color: #fff4a6;
  border: 1px solid #ffe844;
}

.mArea
{
  padding-left: 10px;
}

.formInput
{
  display: flex;
  padding: 0px 5px 0px 5px;
}

.profileInput
{
  max-width:160px;
}

.profileInput::-webkit-input-placeholder  /* Chrome/Opera/Safari */
{
	color: gray; 
}

.profileInput:-ms-input-placeholder /* Internet Explorer 10-11 */
{
	color: gray;
}

.profileInput::-moz-placeholder /* Firefox 19+ */
{
	color: gray;
}

.profileInput:-moz-placeholder /* Firefox 18- */
{
	color: gray;
}

.profileInput::placeholder
{
	color: gray;
}

.editProfileTop
{
  border: 1px solid black;
  border-radius: 10px;
  width: 380px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 17px;
}

.ep-btn
{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	display:block;
}

.pd-date {
  height: 87%;
  display: flex;
  /*justify-content: flex-start;*/
  /*flex-direction: column;*/
  justify-content: space-around;
  flex-wrap: wrap;
  /*margin: auto;*/
  width: 100%;
}





/* Genel CSS Başlangıcı */
.ta-center
{
	text-align: center;
}
/* Genel CSS Bitişi */









/*media başlangıcı*/
@media only screen and (max-width: 600px)
{
  input[type=text]
    {
    width: 90%;
    padding: 3px 6px;
    margin: 8px 0;
    box-sizing: border-box;
    /*max-width:200px;*/
  }

  input[type=password]
  {
    width: 90%;
    padding:3px 6px;
    margin: 8px 0;
    box-sizing: border-box;
    /*max-width:200px;*/
  }

  .loginBox
  {
    border:1px solid black;
    width:350px;
    height:200px;
    position: absolute;
    top:50%;
    margin-top:-100px;
    left:50%;
    margin-left:-175px;
  }

  .loginDiv
  {
    position: relative;
    top:50%;
    height:100%;
    width:100%;
    margin-top:-60px;
  }

  .loginBoxRow
  {
    display: table-row;
  }

  .loginBoxLeft
  {
    text-align:left;
    padding-right:5px;
    display: table-cell;
  }

  .loginBoxRight
  {
    display: table-cell;
  }
}











/*Front End grubu css başlangıcı*/

body
{
    background-image: url("/images/bgimg1.png"); /*web site arkaplan*/
    background-repeat: no-repeat; /* arkaplan tekrar etmemesi için */
    background-attachment: fixed; /*Sayfayı hareket ettirince arkaplanın sabit kalması için */
    background-position: center; /*arkaplanı sayfaya ortalamak için*/
    background-size: cover; /*resmin boyutunu ayarlamak için*/
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    height:100%;
}

.nav-bg
{
    background: #9da4aac4;
}

.footer-bg
{
    background: #3a3f44;
}

nav{
    min-height:47px;
    /*min-width: 586px;*/
    text-align: left; /*Yazıları ortalamak için */
    width: 100%; /*sayfayı tamamen kaplaması için*/
    opacity: 0.9;
}

nav ul{
    list-style: none; /*liste elemanlarını başlarındaki noktaları kaldırmak için*/
    margin:0px; /*menüyü en üste yapıştırmak için*/
    padding: 0px; /*menüyü en üste yapıştırmak için*/
}
nav li{
    display:inline-block;
}

nav li a{
    display: block;
    padding: 13px 20px;
    font: 15px tahoma, arial; /*menü elemanlarının yazı boyutları yazı tipi için */
    color: rgb(255, 255, 255); /*menü elemanlarının renkleri için */
    text-decoration: none; /*link verildikten sonra altlarında çıkan çizgileri yok etmek için */

}

nav li a:hover
{
    background: rgba(194, 196, 202, 0.5); /*menü elemanı üzerine gelindiğinde renk alması için*/
    transition-duration: 0.5s; /*menü elemanı üzerine gelindiğinde efektli renk alması için*/
    -webkit-transition-duration: 0.5s; /*tarayıcılara uyması için */
    -moz-transition-duration: 0.5s; /*tarayıcılara uyması için */
    -ms-transition-duration: 0.5s; /*tarayıcılara uyması için */
    -o-transition-duration: 0.5s; /*tarayıcılara uyması için */
    border-radius: 15px;
}

/*Her sayfadaki form kutusunun boyut ve konumu için */

#formkapsamgiris{
    width: 400px; /*form kutu genişliği*/
    height: 400px; /*form kutu yüksekliği*/
    background: rgba(255, 255, 255, 0.685); /*form arkaplan rengi*/
    position: absolute; /*forma koordinat belirleyerek sayfada bir yere yerleştirmek*/
    left: 50%;
    top: 50%;
    margin-top: -200px;
    margin-left: -200px;
    /* display: table; */
    border-radius: 10px;
}

#formkapsamkayit{
    background: rgba(255, 255, 255, 0.685); /*form arkaplan rengi*/
    position: absolute;
    width: 450px;
    height: 500px;
    left: 50%;
    top: 50%;
    margin-top: -250;
    margin-left: -225;
    border-radius: 10px;
}

#formkapsamiletisim{
    background: rgba(255, 255, 255, 0.685); /*form arkaplan rengi*/
    position: absolute; /*forma koordinat belirleyerek sayfada bir yere yerleştirmek*/
    width: 850px;
    height: 520px;
    /* transform: translate(380px,45px); */
    display: table;
    top: 50%;
    left: 50%;
    margin-top: -260px;
    margin-left: -425px;
    border-radius: 10px;
}

#formkapsamsifresifirlama{
    width: 400px; /*form kutu genişliği*/
    height: 300px; /*form kutu yüksekliği*/
    background: rgba(255, 255, 255, 0.685); /*form arkaplan rengi*/
    position: absolute; /*forma koordinat belirleyerek sayfada bir yere yerleştirmek*/
    transform: translate(550px,100px);
    border-radius: 10px;
}

#formkapsamprofilim{
    width: 900px; /*form kutu genişliği*/
    height: 600px; /*form kutu yüksekliği*/
    background: rgba(255, 255, 255, 0.685); /*form arkaplan rengi*/
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -315px;
    margin-left: -450px;
    /* transform: translate(300px,90px); */
    /* top: -15px; */
    display: table;
    padding: 15px;
    border-radius: 10px;
}

/*Form içerisindeki icon ile ilgili kısım*/
#formkapsamimggiris{
    width: 70px;
    height: 70px;
    margin: auto; /*ortalama*/
    display:block; /*mozilla için ortalama*/
    /*display: table-cell;*/
    margin-top: 35px;
}

#formkapsamimgkayit{ 
    width: 70px;
    height: 70px;
    display: block;
    margin: auto;
    margin-top: 20px;

}

#formkapsamimgsifresifirlama{ 
    width: 70px; 
    height: 70px;
    position: absolute;
    top: 10px;
    left: 165px;

}

/*Form içerisindeki h3 etiketi için yapılan düzenlemeler için*/
#formkapsamhgiris{
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#formkapsamhkayit{
    display: block;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

#formkapsamhiletisim{
    margin-top: 12px;
    /* width: 100%; */
    text-align: center;
    /* position: relative; */
    /* display: table-row; */
    /* top: 20px; */
    /* margin-bottom: 50px; */
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#formkapsamhsifresifirlama{
    width: 100%;
    text-align: center;
    position: relative;
    top: 70px;
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.formkapsaminput
{
    width: 90%;
    min-width: 73%;
    /*left: 5%;*/
    /*position: relative;*/
    margin: auto;
    display: block;
    background: none;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.411);
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    padding:8px 20px;
    border-left: 3px solid rgb(110, 19, 82);
    border-radius: 5px;
    transition: border-color .8s ease-out;
}

/* Chrome/Opera/Safari için placeholder renk değişikliği */
.formkapsaminput::-webkit-input-placeholder  /* Chrome/Opera/Safari */
{
	color: white !important;  
}

.formkapsaminput:-ms-input-placeholder /* Internet Explorer 10-11 */
{
	color: white !important; 
}

.formkapsaminput::-moz-placeholder /* Firefox 19+ */
{
	color: white !important; 
}

.formkapsaminput:-moz-placeholder /* Firefox 18- */
{
	color: white !important; 
}

.formkapsaminput::placeholder
{
	color: white !important; 
}


.formTextArea
{
  width: 90%;
  left: 5%;
  position: relative;
  background: none;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.411);
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
  padding:8px 20px;
  border-left: 3px solid rgb(110, 19, 82);
  border-radius: 5px;
  transition: border-color .8s ease-out;
  max-height: 160px;
  min-height: 160px;
  max-width: 384px;
  min-width: 384px;
}



.formkapsaminput:focus
{
    border-bottom: 1px solid rgba(74, 54, 113, 0.692);
    outline:none;
    border-left: 3px solid #888;
} 

#formkapsambuttongiris
{
    width: 42%;
    left: 3%;
    position: relative;
    padding: 10px;
    background-color:rgb(243, 208, 67);
    border-radius: 10px;
    border: none;
    color: white;
    float: left;
    margin: 10px;
}

#formkapsambuttonkayit
{
    width: 42%;
    left: 4%;
    position: relative;
    padding: 10px;
    background-color:rgb(243, 208, 67);
    border: none;
    border-radius: 10px;
    color: white;
    float: left;
    margin: 10px;
    top:45px;

}

#formkapsambuttoniletisim
{
    width: 42%;
    left: 4%;
    position: relative;
    padding: 10px;
    background-color:rgb(243, 208, 67);
    border: none;
    border-radius: 10px;
    color: white;
    float: left;
    margin: 10px;
    top:45px;

}

#formkapsambuttonsifresifirlama
{
    width: 42%;
    left: 25%;
    position: relative;
    padding: 10px;
    background-color:rgb(243, 208, 67);
    border: none;
    border-radius: 10px;
    color: white;
    float: left;
    margin: 10px;
    top:45px;

}

/*#logo{
    width: 90px;
    height: 40px;
    float: left;
}
#app{
    position: absolute;
    right:0px;
    bottom:0px;    
}*/

/*footer
{
    position:absolute; 
    bottom:0; 
    width:100%; 
    height:48px; 
    background:#3a3f44;
}
footer p
{
    color: white; 
    font-family: tahoma,arial; 
    font-size: 10px; 
    padding: 8px;
}*/

.formkapsam ::placeholder
{
    color:white;
    font-size: 16px;
    font-family: tahoma, arial;
    font: bold;

}

.iletisimsoldiv
{
    /* width: 452px; */
    /* height: 60%; */
    /* float: left; */
    /* margin: 5px; */
}

.iletisimsagdiv
{
    margin-top: 40px;
    width: 50%;
    /* height: 60%; */
    /* float: right; */
    /* position: absolute; */
    /* transform: translate(420px, 45px); */
}

.iletisimsocialmedia
{
    width: 30%;
    left: -150px;
    bottom: -40px;
    position: relative;
    padding: 10px;
    float: left;
    margin: 10px;
}

#verticle {
    border-left: 1px solid rgb(166, 172, 184);
    /* height: 380px; */
    /* position: absolute; */
    /* left: 50%; */
    /* margin-left: -4px; */
    /* top: 100px; */
    /* margin-right: 10px; */
    margin-left: 10px;
}


#tablegiris td
{
    border: 1px solid rgba(255, 255, 255, 0.205);
    text-align: center;
    padding: 20px;
    margin: 25px;
}

#tablegiris td a
{
    text-decoration: none;
    color: white;

}


#tablegiris td:hover
{
    background-color: rgba(194, 196, 202, 0.5);
}

/*Dropdown list için */
.dropbtn {
    background-color: rgb(243, 208, 67);
    color: white;
    padding: 13px;
    margin: 0px;
    font-size: 15px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 135px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a { /*Açılır menüde gelen seçenekler için*/
    color: black; /*Yazıların rengi siyah olsun*/
    padding: 5px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1} /*Açılır menüde seçeneklerin üstüne gelince oluşan hover*/
  
  .dropdown:hover .dropdown-content {display: block;} /*Açılır menüde seçeneklerin alt alta gelmesi için*/
  
/*Profilim sayfası css kodları*/

.profilimkullanicifoto
{
    border:1px solid rgba(112, 112, 129, 0.692);
    width: 200px;
    height: 200px;
    border-radius: 100px;
    /* position: absolute; */
    /* left: 40px; */
    /* top: 20px; */
    /* display: table-cell; */
}

.profilimkullanicismiguncelleme
{
    width:30px;
    height:30px;
    /* position: absolute; */
    /* top: 8px; */
    /* left: 85px; */
}

.profilimrezervasyonlarımdiv
{
    border:1px solid black;
    width: 550px;
    height: 200px;
    border-radius: 10px;
    height: 100%;
}

.profilimrezervasyonlarımicdiv
{
    background-color:rgba(173, 173, 182, 0.74); 
    width: 550px; 
    height: 40px; 
    margin: 0px; 
    padding: 0px; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    text-align: center; 
}

.profilimrezervasyonlarımyazisi
{
    width: 50px;
    height: 30px;
    /* position: absolute; */
    /* top: 10px; */
    /* left: 200px; */
}

.profilimbilgilerdiv
{
    border:1px solid black;
    width: 400px;
    height: 300px;
    /* position: absolute; */
    /* left: 40px; */
    /* top: 270px; */
    border-radius: 10px;
    /* display: table-cell; */
}

.profilimaracbilgileridiv
{
    background-color: rgba(173, 173, 182, 0.74);
    width: 400px;
    /* height: 37px; */
    margin: 0px;
    /* padding: 0px; */
    text-align: center;
    border-bottom: 1px solid rgb(243, 208, 67);
    /* display: flex; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profilimaracbilgileriyazisi
{
    /* width: 130px; */
    /* height: 30px; */
    /* position: absolute; */
    /* top: 137px; */
    /* left: 130px; */
    display: flex;
    justify-content: center;
    width: 100%;
    /* height: 100%; */
    padding: 4px 0px 8px 0px;
}

.profilimduzenlemeimg
{
    width:30px;
    height:30px;
    /* position: absolute; */
}

.profilimiletisimbilgilerdiv
{
    background-color: rgba(173, 173, 182, 0.74);
    width: 400px;
    /* height: 37px; */
    margin: 0px;
    /* padding: 0px; */
    text-align: center;
    border-bottom: 1px solid rgb(243, 208, 67);
    /* display: flex; */
}

.profilimiletisimbilgileryazisi
{
    /*width: 130px; */
    /* height: 30px; */
    /* position: absolute; */
    /* top: 137px; */
    /* left: 130px; */
    display: flex;
    justify-content: center;
    width: 100%;
    /* height: 100%; */
    padding: 4px 0px 8px 0px;
}

.profilimpaneldiv
{
    border:1px solid black;
    width: 400px;
    height: 210px;
    /* position: absolute; */
    /* left: 450px; */
    /* top: 270px; */
    border-radius: 10px;
    /* display: table-row; */
    margin-bottom: 17px;
}

.profilimpanelicdiv
{
    background-color:rgba(173, 173, 182, 0.74);
    width: 400px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    border-bottom: 1px solid rgb(243, 208, 67);
    /* text-align: center; */
    display: table-cell;
    vertical-align: middle;
}

.profilimpanelyazisi
{
    /* width: 50px; */
    /* height: 30px; */
    /* position: absolute; */
    /* top: 10px; */
    /* left: 165px; */
}

.profilimpanelsecenekleri
{
    text-decoration: none; 
    color: white; 
    padding-left: 5px;
}

.profilimpanelsecenekleri a
{
  color: white;
}
.profilimpanelsecenekleri a:-webkit-any-link
{
  color: white;
}

.profilimyeniaracdiv
{
    border:1px solid black;
    width: 380px;
    /*height: 70px;*/
    /* position: absolute; */
    /* left: 450px; */
    /* top: 498px; */
    border-radius: 10px;
    /* display: table-row; */
    display: flex;
    margin-top: 17px;
    padding: 23px 10px 23px 10px;
}

.profilimyeniaracekleyazisi
{
    /* padding-left: 5px; */
    /* position: absolute; */
    /* top: 10px; */
}

.profilimyeniaracekleimg
{
    width:25px;
    height:25px;
    /* position: absolute; */
    /* top: 21px; */
    /* left: 112px; */
}

.pagination {
    display: inline-block;
    width:100%;
    height: 10px;
    margin-top: 20px;
    text-align: center;
  }
  
.pagination a {
    color: white;
    /*float: left;*/
    padding: 8px 16px;
    text-decoration: none;
  }
  
.pagination a.active {
    background-color:gray ;
    color: white;
    border-radius: 5px;
  }
  
.pagination a:hover:not(.active) {background-color: rgb(243, 208, 67); border-radius: 5px;}
  
.parkPageForCityName {
    width:600px; 
    height:40px; 
    margin-bottom: 20px;
    padding-top: 15px;
    text-align: center;
    border-bottom:2px solid #9DA4AA;
    background-color: #f0f0f0;
    color:black;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
  }
  
.parkPageForCity {
    width:600px; 
    height:600px; 
    position:absolute; 
    left:50%;
    top:50%; 
    margin-top:-300px; 
    margin-left:-300px; 
    background: rgba(255, 255, 255, 0.685);
    border-radius:10px;
  }
  
.parkPageForCityReservationOptions {
    width:600px;
    height:133px; 
    border-bottom:1px solid #9DA4AA;
  }
  
.parkPageForCityReservationOptionsText {
    line-height:10px; 
    padding-left:5px;
    padding-top: 5px;
  }

.parkReservationBox {
  width:600px;
  height:550px;
  position:absolute;
  left:50%;
  top:50%;
  margin-top:-300px;
  margin-left:-300px;
  background-color:rgba(255, 255, 255, 0.685);
  border-radius:10px;
}

.parkReservastionInfoBox {
  width:600px;
  background-color: #f0f0f0;
  color:black;
  padding: 5px 0px 5px 0px;
  border-bottom:2px solid #9DA4AA;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;

}

.parkReservastionInfo {
    text-align:center;
    line-height:5px;  
}

.parkReservationTimeBox {
  width:600px;
  height:410px;
  display:table;
  margin-top:20px;

}

.parkReservationTimeForm {
  display:table;
  width:600px;
  height:360px;
  background-color:(255, 255, 255, 0.685);
  padding-top:10px;
  border-bottom: 1px solid #b0b0b0;
}

.parkReservationCarImg {
  width:20px; 
  height:20px;
  padding-right:10px;
}
.reservationButton {
  margin-top:15px; 
  background-color:rgb(243, 208, 67);
  padding:8px;
  color:white;
  border:none;
  border-radius:5px;
  margin-bottom:15px;
  margin: auto;
  display: block;
} 

.parkReservationNoCarMessageDiv {
  width: 290px;
  height: 30px;
  margin: auto;
  display: block;
}

.parkReservationNoCarMessage {
  text-align:center;
  color:red;
  font-size:10px;
  font:bold;
}

.reservationAcceptBox { /*en dış div*/
  width:1150px;
  height:450px;
  position:absolute;
  left:50%;
  top:50%;
  margin-left: -575px;
  margin-top:-250px;
  background-color:rgba(255, 255, 255, 0.685); 
  border-radius:10px; 

}

.reservationAcceptBoxMenu { /*menü div*/
  width:1150px;
  height:50px;
  border-bottom:2px solid gray;
  background-color:white; 
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;
}

.reservationAcceptBoxMenuOption
{
  margin:0px;
  padding:10px;
  color:black;
  width:180px;
  height: 20px;
  float:left;
  text-align:center;
}

.reservationAcceptBoxInfo {
  height:40px;
  width:1147px;
  border-bottom:1px solid #9DA4AA;
}

.reservationAcceptBoxInfoPartial {
  margin:0px;
  padding:10px;
  color:black;
  width:180px;
  height: 20px;
  float:left;
  text-align: center;
}

.reservationAcceptBoxInfoPartialImg {
  margin:0px;
  padding:10px;
  width:30px;
  height:20px;
  float:right;
  text-align: center;
}

.reservationAcceptBoxInfoImg {
  width:20px; 
  height:20px;
}

.parkDetailsBox {
  width: 900px;
  height: 650px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -450px;
  margin-top: -325px;
  background-color: rgba(255, 255, 255, 0.685);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.parkDetailsBoxTitle {
  background-color: #f0f0f0;
  color:black;
  text-align:center; 
  padding: 5px 0px 5px 0px;
  border-bottom:2px solid #9DA4AA;
  width:900px;
  height: 30px;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;
}

.parkDetailsBoxText {
  line-height: 5px;
  text-align: left;
  padding-left:10px;
}

.parkDetailsPartialBox {
  width:220px;
  height:35px;
  border-bottom:1px solid #9DA4AA;
  float:left;
  /*margin-left:70px;*/
  padding-bottom:2px;
}

.parkDetailsImg {
  width: 13px;
  height: 13px;
  padding-right:5px;
}

.parkRecordsBox {
  width:350px;
  height:590px;
  position:absolute;
  left:50%;
  top:50%;
  margin-left: -175px;
  margin-top:-295px;
  background-color:rgba(255, 255, 255, 0.685); 
  border-radius:10px; 
}

.parkRecordsBoxInfo {
  width:350px;
  height:50px;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;
  text-align: center;
  background-color: #f0f0f0;
  color:black;
  padding: 5px 0px 5px 0px;
  border-bottom:2px solid #9DA4AA;
}

.parkRecordsBoxResults {
  width:260px;
  height:530px;
  padding-left:50px;
  border-radius:10px;
  text-align:center;
} 

.editProfileText {
  width:100px;
  float: left;
  padding:8px;
}

.editProfileInput {
  padding:8px;
  width: 220px;
  float: left;
}

.editProfilePhoto {
  width: 70px; 
  height: 70px; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  padding-left: 150px;
} 