.baslik {
    background: url('../images/eps-arkaplan2.png') center center no-repeat;
    background-size: cover;
}

.baslik .baslik-icerik {
    padding-top: 8.5rem;
    padding-bottom: 7rem;
    text-align: center;
}

.baslik .container {
    margin-bottom: 3rem;
}

.baslik h1 {
    margin-bottom: 1rem;
}

.baslik .p-aciklama {
    margin-bottom: 2rem;
}

.baslik .buton {
    margin-right: 0.5rem;
    margin-bottom: 1.25rem;
}

.baslik .baslik-icerik {
    padding-top: 11rem;
}

.baslik .baslik-icerik {
    padding-top: 13rem;
    padding-bottom: 10rem;
    text-align: left;
}



.p-aciklama {
    color: #f1f1f8;
    font: 400 1rem/1.5rem "Open Sans", sans-serif;
}



/**Üst Menü css başlangıç **/
ul {
    list-style-type: none;

    margin: 0;

    padding: 0;

    overflow: hidden;

}

li {
    float: left;
}

li a {
    display: block;

    padding: 12px 14px;

    background-color: #2f2c3d;
}

ul {
    list-style-type: none;

    margin: 0;

    padding: 0;

    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;

    padding: 12px 16px;

    background-color: transparent;

    color: white;

    text-decoration: none;
}

li a:hover {
    background-color: white;
    transition-duration: 1.0s; /*efekt*/
    -webkit-transition-duration: 1.0s; /*tarayıcı uyumu için */
    -moz-transition-duration: 1.0s; /*tarayıcı uyumu için */
    -ms-transition-duration: 1.0s; /*tarayıcı uyumu için */
    -o-transition-duration: 1.0s; /*tarayıcı uyumu için */
    border-radius: 10px;
}

/**üst Menu css bitiş **/



.buton {
    display: inline-block;
    padding: 1.375rem 2.625rem 1.375rem 2.625rem;
    border: 0.125rem solid #00c9db;
    border-radius: 2rem;
    background-color: #00c9db;
    color: #fff;
    font: 700 0.75rem/0 "Montserrat", sans-serif;
    text-decoration: none;
    transition: all 0.2s ease;
}

.buton:hover {
    background-color: transparent;
    color: #00c9db;
    text-decoration: none;
}



.ozellikler-bolumu {
    padding-top: 6.5rem;
    padding-bottom: 4.25rem;
    background-color: #2f2c3d;
}

.ozellikler-bolumu h2 {
    margin-bottom: 1.125rem;
    text-align: center;
}

.ozellikler-bolumu .p-aciklama {
    margin-bottom: 3.125rem;
}

.ozellikler-bolumu .nav-tabs {
    margin-right: auto;
    margin-bottom: 2.5rem;
    margin-left: auto;
    justify-content: center;
    border-bottom: none;
}

.ozellikler-bolumu .nav-link {
    margin-bottom: 1rem;
    padding: 0.5rem 1.375rem 0.25rem 1.375rem;
    border: none;
    border-bottom: 0.1875rem solid #f1f1f8;
    border-radius: 0;
    color: #f1f1f8;
    font: 700 1rem/1.75rem "Montserrat", sans-serif;
    text-decoration: none;
    transition: all 0.2s ease;
    /*geçiş efekti*/
}

.ozellikler-bolumu .nav-link.active,
.ozellikler-bolumu .nav-link:hover {
    border-bottom: 0.1875rem solid #00c9db;
    background-color: transparent;
    color: #00c9db;
}

.ozellikler-bolumu .nav-link {
    margin-right: 0.375rem;
    font-size: 1rem;
}

.ozellikler-bolumu .tab-content {
    width: 100%;
}

.ozellikler-bolumu .card {
    /*card bs*/
    border: none;
    background: transparent;
}

.ozellikler-bolumu .bosluk {
    padding: 1rem 0 1.25rem 0;
}

.ozellikler-bolumu .konu {
    margin-bottom: 0.5rem;
    color: white;
}

.ozellikler-bolumu .ozellikler .simge {
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #00c9db;
    text-align: center;
    vertical-align: top;
}

.ozellikler-bolumu .ozellikler .simge .fas,
.ozellikler-bolumu .ozellikler .simge .far {
    color: white;
    font-size: 1.75rem;
    line-height: 3.5rem;
}

.ozellikler-bolumu #ozellik-1 .sol-bolum .yazi-aciklama {
    display: inline-block;
    width: 75%;
}

.ozellikler-bolumu #ozellik-1 .sol-bolum .simge {
    float: left;
    margin-right: 1rem;
}

.ozellikler-bolumu #ozellik-1 img {
    display: block;
    margin: 2rem auto 3rem auto;
}

.ozellikler-bolumu #ozellik-1 .sag-bolum .yazi-aciklama {
    display: inline-block;
    width: 75%;
}

.ozellikler-bolumu #ozellik-1 .sag-bolum .simge {
    float: left;
    margin-right: 1rem;
}

.ozellikler-bolumu .row .nav-tabs .nav-item:hover {
    color: white;
}

.ozellikler-bolumu #ozellik-1 .sag-bolum {
    margin-top: 24px;
    margin-left: 2rem;
    padding: 10px;
}

.ozellikler-bolumu #ozellik-1 .sol-bolum {
    margin-top: 43px;
    margin-right: 2rem;
    padding: 10px;
}


.mobil-arayuz-jpg {
    max-width: 100%;
    height: auto;
}




.ozellikler-p {
    color: white;
    text-align: justify;
}

#ust-menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    left: 0;
    right: 0;
    display: block;
}


/* EPS sol üst başlangıç */
.clr {
    clear: both;
    display: block;
}

.clr .marka .proje-isim {

    color: white;
    text-decoration: underline
}

.clr .marka .proje-isim:hover {
    text-decoration: none;

}

/* EPS sol üst bitiş */



/* footer başlangıç */
.footer .footer-boy {
    margin-bottom: 2.25rem;
}

.footer h4 {
    margin-bottom: 1rem;
    color: white;
}

.footer p {
    color: white;
}

.footer {
    padding-top: 1.5rem;
    padding-bottom: 2.25rem;
    background-color: #3e3b4d;
}

/* footer mobil başlangıç */

@media (min-width:1200px) {
    .footer-hiza {
        margin-top: -114px;
    }
}

@media (max-width:991px) {
    .footer .footer-boy p {
        margin-left: -20%;
    }
    .footer h4 {
        margin-left: -35%;
    }
}

@media screen and (max-width: 767px) and (min-width: 526px){
    .footer .footer-boy p {
        margin-left: -1%;
    }
    .footer h4 {
        margin-left: -45%;
    }

}

@media screen and (max-width: 1199px) and (min-width: 992px){
    .footer-hiza {
        margin-top: -114px;
        margin-left: -100px;
    }
    .footer .footer-boy p {
        margin-left: 80px;
    }
    .footer h4 {
        margin-left: 35px;
 
    }

}

/* footer mobil bitiş */
/* footer bitiş */



.copyright-bolumu {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    background-color: #2f2c3d;
    text-align: center;
}

.copyright-bolumu .p-small {
    color: #f1f1f8;
    opacity: 0.6;
}


.yukari-buton {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 80px;
    display: none;
    text-indent: -9999px;
    background: url("/images/yukari-ok.png") no-repeat;
    cursor: pointer;
}


/* Mobil Açılır Menü Başlangıç */

@media screen and (max-width: 500px) {
    ul li {
        float: none;
        display: block;
    }

    li a:hover {
        background-color: white;
    }
}

@media (max-width:769px) {
    .menu .mobil-menu {
        display: block;
    }

    .menu ul {
        display: none;
    }

    .menu ul li {
        float: none;
        margin-right: 0;
        border-bottom: 1px solid #00c9db;
        /*1px solid #333; */
    }

    .menu ul li:last-child {
        border-bottom: none
    }

    li a:hover {
        background-color: white;
    }

    .fa-bars {
        margin: 10px;
        float: right;
    }
}

@media (min-width:769px) {
    .menu .mobil-menu {
        display: none;
    }

    .menu ul {
        display: block !important;
    }

    .fa-bars {
        margin: 10px;
        float: right;
    }

    li a:hover {
        background-color: white;
    }
}

/* Mobil Açılır Menü Bitiş */



/* Gizlilik Politikası Başlangıç */

#gizlilik {
    background-image: url('/images/eps-arkaplan2.png') !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#gizlilik-kutu {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 50%;
    height: 50%;
    display: table;
    top: 9%;
    float: left;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 4%;
    padding: 20px;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
}

#gizlilik-p {
    font-family: "Montserrat", sans-serif;
    text-align: justify;
    color: white;
    font-size: 1.1rem;
    font-style: italic;
}

#gizlilik-kutu-2 {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 40%;
    height: 50%;
    display: table;
    top: 9%;
    float: right;
    left: 55%;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 4%;
    padding: 20px;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
}

#gizlilik-p-2 {
    font-family: "Montserrat", sans-serif;
    text-align: justify;
    color: white;
    font-size: 1.1rem;
    font-style: italic;
}



/* Gizilik politikası Mobil Başlangıç */

/* Masaüstü ve Dizüstü */
@media screen and (min-width: 961px) {
    #gizlilik-kutu {
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        width: 50%;
        height: 50%;
        display: table;
        top: 9%;
        float: left;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 4%;
        padding: 20px;
        text-align: left;
        font-family: "Montserrat", sans-serif;
        border-radius: 10px;
    }

    #gizlilik-p {
        font-family: "Montserrat", sans-serif;
        text-align: justify;
        color: white;
        font-size: 1.1rem;
        font-style: italic;
    }

    #gizlilik-kutu-2 {
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        width: 40%;
        height: 50%;
        display: table;
        top: 9%;
        float: right;
        left: 55%;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 4%;
        padding: 20px;
        text-align: left;
        font-family: "Montserrat", sans-serif;
        border-radius: 10px;
    }

    #gizlilik-p-2 {
        font-family: "Montserrat", sans-serif;
        text-align: justify;
        color: white;
        font-size: 1.1rem;
        font-style: italic;
    }
}




/* Telefon ve Tablet */
@media screen and (max-width: 960px) {

    #gizlilik-kutu {
        border: 1px solid black;
        width: auto;
        height: auto;
        margin: auto;
        margin-bottom: 20%;
        margin-right: 1%;
        margin-top: 4%;
        padding: auto;
        display: block;
        background: rgba(0, 0, 0, 0.5);
        font-family: "Montserrat", sans-serif;
        border-radius: 10px;
        padding: 20px;
    }

    #gizlilik-kutu-2 {
        background: rgba(0, 0, 0, 0.5);
        width: auto;
        height: auto;
        margin-top: 120%;
        margin-left: -54%;
        margin-right: 1%;
        margin-bottom: 15%;
        padding: auto;
        display: block;
        padding: 20px;
        text-align: left;
        font-family: "Montserrat", sans-serif;
        border-radius: 10px;
    }

}

/* Gizilik politikası Mobil Bitiş */

/* Gizlilik Politikası Bitiş */


/* Sıkça Sorular Sorular Başlangıç */
#sss-body {
    background-image: url('/images/eps-arkaplan2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.sss {
    border: 1px solid #cfcfcf;
    clear: both;
    padding: 5px;
}

.sss .soru {
    position: relative;
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    background: #f2f2f2;
    padding: 15px 40px;
    margin: 0;
    border-top: 1px solid #cfcfcf;
    font-family: "Montserrat", sans-serif;
    opacity: 0.5;
}



.sss .cevap {
    padding: 0;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
    font-style: italic;
}

.sss .cevap>p {
    padding: 0 30px 20px 30px;
}

.sss .cevap p:last-child {
    margin-bottom: 10px;
}


.sss-tum {
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Sıkça Sorular Sorular Bitiş */


/* Otoparkımız Ol Başlangıç */
#otopark-body {
    background-image: url('/images/otopark-ol2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#form-otopark-sahibi {
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    width: 850px;
    height: 520px;
    display: table;
    top: 50%;
    left: 50%;
    margin-top: -290px;
    margin-left: -425px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
	-webkit-box-shadow: 0px 0px 5px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 7px rgba(0,0,0,0.75);
    border-radius: 1em;
}

#h4-otopark {
    color: white !important;
    opacity: 0.9 !important;
    font-size: 1em !important;
    font-weight: bolder !important;
}

.iletisim {
    display: flex;
    justify-content: center;
}

#cizgi {
    border-left: 1px solid rgb(166, 172, 184);
    margin-left: 40px;
    margin-bottom: 20px;
}

.iletisimsag {
    margin-top: 40px;
    width: 50%;
}

.bilgi-girisi {
    width: 90%;
    left: 5%;
    position: relative;
    background: none;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 1);
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    padding: 8px 20px;
    border-left: 3px solid #0688DF;
    border-radius: 5px;
    transition: border-color .8s ease-out;
}

.bilgi-girisi:focus {
    border-bottom: 1px solid rgba(230, 149, 113, 1);
    outline: none;
    border-left: 3px solid rgb(230, 149, 113);
}

.otopark-adresi {
    width: 90%;
    left: 5%;
    position: relative;
    background: none;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 1);
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    padding: 8px 20px;
    border-left: 3px solid #0688DF;
    border-radius: 5px;
    transition: border-color .8s ease-out;
    max-height: 120px;
    max-width: 384px;
    min-width: 384px;
    min-height: 80px;
}

.otopark-adresi:focus {
    border-bottom: 1px solid rgba(230, 149, 45, 1);
    outline: none;
    border-left: 3px solid rgb(230, 149, 45);
}

#buton2 {
    width: 42%;
    left: 4%;
    position: relative;
    padding: 10px;
    background-color: #0688DF;
    border: none;
    border-radius: 10px;
    color: white;
    float: left;
    margin: 10px;
    top: -20px;
    margin-bottom: 25px;
}

#qr-code {
    width: 30%;
    height: 30%;
    margin-top: 20px;
}

#OtoParkFoto-yazi {
    color: rgb(255, 255, 255);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: px;
    font-family: "Montserrat", sans-serif;
}

.bilgi-girisi2 {
    width: 90%;
    left: 5%;
    position: relative;
    background: none;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 1);
    margin-bottom: 10%;
    color: rgb(255, 255, 255);
    padding: 8px 20px;
    border-left: 3px solid #0688DF;
    border-radius: 5px;
    transition: border-color .8s ease-out;
}

.bilgi-girisi2:focus {
    border-bottom: 1px solid rgba(74, 54, 113, 0.692);
    outline: none;
    border-left: 3px solid #888;
}

/* Otoparkımız Ol Mobil Başlangıç */

@media screen and (max-width: 961px) {

    #form-otopark-sahibi {
        background: rgba(0, 0, 0, 0.75);
        position: absolute;
        width: 80%;
        height: 80%;
        display: table;
        top: 50%;
        left: 50%;
        margin-top: -30%;
        margin-bottom: 15%;
        margin-left: -40%;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        -webkit-box-shadow: 0px 0px 5px 7px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 7px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 7px rgba(0,0,0,0.75);
        border-radius: 1em;
    }

    #h3-baslik{
        color: white;
        font-size: 1.17em !important;
        font-weight: bolder !important;
    }

    #h4-otopark {
        color: rgb(255, 255, 255) !important;
        opacity: 0.6 !important;
        width: 70%;
        margin: auto;
        font-size: 1em !important;
        font-weight: bolder !important;
    }

    .iletisim {
        display: block;
        justify-content: center;
    }


    .iletisimsag {
        margin-top: 40px;
        width: 50%;
    }

    .bilgi-girisi {
        width: 70%;
        left: 50%;
        position: relative;
        background: none;
        outline: none;
        border: 1px solid rgba(255, 255, 255, 1);
        margin-bottom: 10%;
        color: rgb(255, 255, 255);
        padding: 8px 20px;
        border-left: 3px solid rgb(6, 136, 223);
        border-radius: 5px;
        transition: border-color .8s ease-out;
    }

    .bilgi-girisi:focus {
        border-bottom: 1px solid rgba(230, 149, 113, 1);
        outline: none;
        border-left: 3px solid #e69471;
    }

    .bilgi-girisi2 {
        width: 90%;
        left: 5%;
        position: relative;
        background: none;
        outline: none;
        border: 1px solid rgba(255, 255, 255, 1);
        margin-bottom: 2%;
        color: rgb(255, 255, 255);
        padding: 8px 20px;
        border-left: 3px solid #0688DF;
        border-radius: 5px;
        transition: border-color .8s ease-out;
    }

    .bilgi-girisi2:focus {
        border-bottom: 1px solid rgba(74, 54, 113, 0.692);
        outline: none;
        border-left: 3px solid #888;
    }


/* Otoparkımız Ol Mobil Bitiş */


/* Otoparkımız Ol Bitiş */