#turn on url rewriting 
RewriteEngine on

#remove the need for .php extention 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php
#tip1-link
#RewriteRule ^([0-9a-zA-Z-_]+)$ parks.php?city=$1 [L,QSA]
#tip2-link
#RewriteRule ^parklar/([0-9a-zA-Z-_]+)$ parks.php?city=$1 [L,QSA]
#tip3-link
RewriteRule ^([0-9a-zA-Z-_]+)/parklar$ parks.php?city=$1 [L,QSA]
RewriteRule ^rezervasyon/([0-9a-zA-Z-_]+)$ reservation.php?park=$1 [L,QSA]
RewriteRule ^settings/profile$ profile.php [L,QSA]
RewriteRule ^parkdetayi$ parkDetails.php [L,QSA]
RewriteRule ^parkdetayi/([0-9a-zA-Z-_]+)$ records.php?date=$1 [L,QSA]
RewriteRule ^settings/profile/edit$ editProfile.php [L,QSA]
RewriteRule ^settings/profile/save$ editProfileControl.php [L,QSA]
RewriteRule ^password/reset$ lostPassword.php [L,QSA]
#RewriteRule ^password/change?token=([0-9a-zA-Z-_]+)$ lp-validate.php?token=$1 [L,QSA]
RewriteRule ^password/change/token=([0-9a-zA-Z-_]+)$ lp-validate.php?token=$1 [L,QSA]

ErrorDocument 404 /404.php