#turn on url rewriting 
RewriteEngine on

#remove the need for .php extention 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php
#tip1-link
#RewriteRule ^([0-9a-zA-Z-_]+)$ parks.php?city=$1 [L,QSA]
#tip2-link
#RewriteRule ^parklar/([0-9a-zA-Z-_]+)$ parks.php?city=$1 [L,QSA]
#tip3-link
RewriteRule ^([0-9a-zA-Z-_]+)/parklar$ parks.php?city=$1 [L,QSA]
RewriteRule ^park/([0-9a-zA-Z-_]+)$ reservation.php?park=$1 [L,QSA]
RewriteRule ^settings/profile$ profile.php [L,QSA]
RewriteRule ^parkdetayi$ parkDetails.php [L,QSA]
RewriteRule ^parkdetayi/([0-9a-zA-Z-_]+)$ records.php?date=$1 [L,QSA]
RewriteRule ^settings/profile/edit$ editProfile.php [L,QSA]
RewriteRule ^settings/profile/save$ source/editProfileControl.php [L,QSA]
RewriteRule ^password/reset$ lostPassword.php [L,QSA]
#RewriteRule ^password/change?token=([0-9a-zA-Z-_]+)$ source/lp-validate.php?token=$1 [L,QSA]
RewriteRule ^password/change/token=([0-9a-zA-Z-_]+)$ source/lp-validate.php?token=$1 [L,QSA]
RewriteRule ^password/protection/token=([0-9a-zA-Z-_]+)$ source/lp-userProtection.php?token=$1 [L,QSA]
RewriteRule ^lpgen$ source/lp-generate.php [L,QSA]
RewriteRule ^lpcont$ source/lp-control.php [L,QSA]
RewriteRule ^updateRv$ source/rv-update.php [L,QSA]
RewriteRule ^details/([0-9a-zA-Z-_]+)$ comments.php?park=$1 [L,QSA]

RewriteRule ^userlogin$ source/loginControl.php [L,QSA]
RewriteRule ^makeReservation$ source/reservationControl.php [L,QSA]
RewriteRule ^register$ source/registrationControl.php [L,QSA]
#RewriteRule ^renewdb$ data/refreshDB.php [L,QSA]

ErrorDocument 404 /http-response/404.php